html {
  font-family: "Fredoka One", sans-serif;
  background: repeating-linear-gradient(-40deg, #c9fcff, #c9fcff 10px, #b3fbff 20px);
  background-size: cover;
  border-top: #b3fbff;
  border-top-style: solid;
  border-top-width: 10px;
  min-height: 517px;
  border-bottom-color: #b3fbff;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

h1 {
  color: #990073;
  transform: rotate(-8deg) translateY(117px) scale(1.25);
  transform-origin: left center;
}

p {
  color: #c09;
  transform: rotate(-4deg) translate(11px, 95px);
  max-width: 19em;
}

a {
  transform: translate(22px, 100px);
}

.btn {
  color: #c09;
}

.btn-ghost {
  border-color: #c09;
}

.ice-cream {
  transform: scale(.7);
}

.cone {
  position: absolute;
  bottom: 100%;
  left: -50px;

  animation: cone-animate 1s forwards;
}

.cherry {
  position: absolute;
  left: -40px;
  z-index: 4;

  animation: cherry 1s forwards;
}

.vanilla-fudge {
  position: absolute;
  left: -40px;
  z-index: 3;

  animation: vanilla-fudge 1s forwards;
}

.chocolate-chip {
  position: absolute;
  left: -40px;
  z-index: 2;

  animation: chocolate-chip 1s forwards;
}

.mint-chip {
  position: absolute;
  left: -50px;

  animation: mint-chip 1s forwards;
}

@keyframes cone-animate {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: -620px;
  }

}

@keyframes cherry {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: -200px;
  }

}

@keyframes mint-chip {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: -450px;
  }

}

@keyframes chocolate-chip {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: -350px;
  }

}

@keyframes vanilla-fudge {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: -250px;
  }

}

.content {
  position: absolute;

  animation: content 1s forwards;
}

@keyframes content {

  0% {
    opacity: 0;
    filter: blur(30px);
  }

  100% {
    opacity: 100;
    text-shadow: 2px 2px #000;
  }

}

.btn-ghost:hover {
  background-color: #d4fdff;
}
